@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

body {
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.sign {
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #6b1839, transparent);
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    margin-top: 75px;
    text-transform: uppercase;
    font-size: 5em;
    margin-left: 300px;
    width: 0%;
    font-family: "Clip";
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #81F7F3, 0 0 1.5rem #2E64FE, -0.2rem 0.1rem 1rem #2E64FE, 0.2rem 0.1rem 1rem #2E64FE, 0 -0.5rem 2rem #2E64FE, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #2E9AFE,
        -0.2rem 0.1rem 1rem #2E9AFE, 0.2rem 0.1rem 1rem #2E9AFE,
        0 -0.5rem 2rem #2E64FE, 0 0.5rem 3rem #2E64FE;
    }
    28%,
    33% {
        color: #2E9AFE;
        text-shadow: none;
    }
    82%,
    97% {
        color: #2E64FE;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #0431B4;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #2E9AFE,
        -0.2rem 0.1rem 1rem #2E9AFE, 0.2rem 0.1rem 1rem #2E9AFE,
        0 -0.5rem 2rem #2E64FE, 0 0.5rem 3rem #2E64FE;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}

#line2 {
    display: block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    background: repeating-linear-gradient(
            45deg,
            yellow,
            yellow 10px,
            orange 10px,
            orange 20px
    );;
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    margin-right: 10px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#warning {
    background-color: black;
    text-align: center;
}

#warning img {
    width: 30%;
    display: inline-block;
}

#warning p {
    display: inline-block;
}

#warningText {
    font-size: 2.3rem;
    width: 100%;
    text-align: center;
}

#myBtn{
    background-color: transparent;
    color: white;
    display: block;
    margin-left: 15px;
}

#karaokeScreen{
    background-image: url("../../javascript/robbe/oceanMan.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25%;
    height: 85px;
    margin-left: 30px;
    margin-top: 15px;
    text-align: center;
    line-height: 40px;
    background-blend-mode: screen;
}

#oceanMan{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}