header{
    height:100vh;
    background: url("../../images/header.jpg") no-repeat;
    background-size:cover;
}

body {
    font-family: 'Comic Sans', sans-serif;
    font-weight: bold;
    background: url("../../images/ranger-4df6c1b6.png");
    background-size: cover;
}
h1{
    font-size:20rem;
}
#haha{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    background-size: cover;
}
#ww{
    color: white;
    height: 50vh;
    width: 50vw;
    margin: 25vh 25vw;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#ww label, #ww input{
    margin-left: 100px;
    margin-top: 10px;
}
#ww label{
    width: auto;
}
#ww input{
    width: 200px;
}
#ingelogdbluven h2{
    cursor: pointer;
    background-color: rgb(31, 31, 30);
    display: inline-block;
    color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 25px;

}
#ingelogdbluven h2:hover{
    text-decoration: none;
    background-color: whitesmoke;
    color: rgb(31,31,30);
}
/*GENERAL CLASSES*/
.noscroll{
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden{
    display: none !important;
}


nav {
    min-width: 70vw;
    margin-left: auto;
    margin-right: auto;

}


ul.persons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;

}
li.person {
    display: inline-block;
    width: 200px;
    background-color: rgb(31, 31, 30);
    font-size: 3rem;
    text-align: center;

    margin-top: 10px;

    border-radius: 25px;
    padding: 20px;
}

li.person:hover {
    background-color: whitesmoke;
    color: black;
}

a:hover{
    color: black;
}

a {    
    padding: 20px;
    text-decoration: none;

    color: whitesmoke;

}
.florian{
    background: url("../../images/FlOrIaN/NYAN.png") no-repeat;
    background-size: cover;
}
.florian:hover, .florian a:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌟</text></svg>") 16 0,auto; /*!emojicursor.app*/

}
.florian a:hover{
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
}
.florian a{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.robbe {
    background: url("../../images/robbe/flashy.gif") no-repeat;
    background-size: cover;
}

.robbe a:hover{
    color: cornflowerblue;

}

img {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.message {

    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 10px;

    background-color: rgba(182, 194, 189, 0.8);
    border-radius: 5px;


}

.message span {
    width: 200px;
    text-align: center;
}

.message span#commentor {

    display:flex;
    justify-content: center;
    align-items: center;
    border-right: white solid 2px;
    text-align: center;

}

.message span#comment {
    word-break: break-word;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}


#comments #list {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    text-decoration: underline;
    margin-bottom: 10px;
}

h3 span {
    font-size: 0.5rem;
}
#comments {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
input {
    margin-right: 25px;
}

form#commenting {

    text-align: center;
}

form#commenting label {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

form#commenting input[type=text] {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form#commenting input[type=submit] {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}